.other-activities-button, .activity-btn {
    padding: 10px;
    background-color: #86DD70;
    color: black;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 10px 1px black;
    transition: 0.5s;
}

.other-activities-button:hover, .activity-btn:hover {
    background-color: #9fe08f;
    scale: 1.1;
}

.add-item-btn {
    padding: 11px 15px;
    background-color: #a2e26a;
    color: #333;
    border: 1px solid #706c61;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.account-actions .btn {
    padding: 5px 10px;
    border: 1px solid #000;
    font-size: 0.8em;
    cursor: pointer;
    color: #fff;
    margin:5px;
}

.btn-privilege { background-color: #f39c12; }
.btn-suspend { background-color: #c0392b}
.btn-resume { background-color: #27ae60; }
.btn-delete { background-color: #c0392b; }
.btn-edit { background-color: #27ae60; }
.btn-delete { background-color: #c0392b; }