body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}
aside {
    background-color: #D9D9D9;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 72px;
    left: 0;
    overflow-y: auto;
}

aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}



aside a {
    margin-top: 15px;
    display: flex;
    align-items: center;
    padding: 15px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
}

aside a:hover {
    background-color: #ddd;
}

aside a.active {
    background-color: #86DD70;
    /* Removed border */
}

aside a.active:hover {
    background-color: #45a049;
}

aside img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    padding: 2px;
}
.nav-header {
    background-color: #628338;
    color: white;
    padding: 20px;
    text-align: left;
    text-indent: 190px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

h1 {
    margin: 0;
}

.main-content {
    width: 70%;
    margin-left: 202px;
    margin-top: 72px;
    padding: 20px;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    aside {
        width: 100%;
        height: auto;
        position: static;
        border-right: none;
        border-bottom: 2px solid #000;
    }

    .main-content {
        margin-left: 0;
    }
}